@charset "UTF-8";

/*______________MAIN STYLE______________*/

.main {
  position: relative;
  overflow: clip;
}

.main__gradient-orange-1 {
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, rgba(231, 78, 19, 0.1) 0%, rgba(231, 78, 19, 0) 100%);
  width: 453px;
  height: 453px;
  left: -210px;
  top: 650px;
}

.main__gradient-orange-2 {
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, rgba(231, 78, 19, 0.1) 0%, rgba(231, 78, 19, 0) 100%);
  width: 453px;
  height: 453px;
  right: -270px;
  top: 750px;
}

.main__gradient-orange-3 {
  position: absolute;
}

.main__gradient-green-1 {
  position: absolute;
  background: radial-gradient(50% 50% at 50% 50%, rgba(132, 190, 81, 0.3) 0%, rgba(210, 230, 189, 0) 100%);
  width: 513px;
  height: 513px;
  right: -280px;
  top: 300px;
}

.main__gradient-green-2 {
  position: absolute;
}

.main__gradient-green-3 {
  position: absolute;
}

/*______________FILTERS POPUP AND ASIDE STYLE______________*/

.filters {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 160;
  pointer-events: none;
  opacity: 0;
  background: rgba(0, 0, 0, 0.8);
  transition: all 400ms;
}

.filters--opend {
  opacity: 1;
  pointer-events: auto;
}

.filters__body {
  position: fixed;
  top: 0;
  left: -100%;
  width: 79.6875vw;
  height: 100vh;
  z-index: 161;
  transition: left 400ms;
}

.filters__body--opend {
  left: 0%;
}

.filters__header {
  min-height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #84c551;
  padding: 10px 15px;
  border-top-right-radius: 20px;
}

.filters__back-button {
  height: 100%;
  width: 40px;
  display: flex;
  align-items: center;
}

.filters__back-button.icon-arrow-line::before {
  display: block;
  font-size: 1.25rem;
  color: #fff;
  transform: rotate(-90deg);
}

.filters__header-title {
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
}

.filters__main {
  background-color: #fff;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
}

.filters__manufacturers {
  padding: 20px 20px 0px 20px;
}

.filters__manufacturers-title {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 15px;
  padding-left: 10px;
}

.filters__manufacturers-items {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-left: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
}

.filters__manufacturers-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.filters__manufacturers-item input,
.filters__manufacturers-item label {
  cursor: pointer;
}

.filters__manufacturers-item label {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5019607843);
}

.filters__manufacturers-item input[type=radio] {
  flex-shrink: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 3px;
  border: 1px solid #cccccc;
}

.filters__manufacturers-item input[type=radio]::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  height: 9px;
  width: 9px;
  border-radius: 3px;
  background-color: #84c551;
  transform: scale(0);
  transition: transform 300ms;
}

.filters__manufacturers-item input[type=radio]:checked {
  border-color: #84c551;
}

.filters__manufacturers-item input[type=radio]:checked::before {
  transform: scale(1);
}

.filters__grain {
  padding: 20px 20px 0px 20px;
}

.filters__grain-title {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 15px;
  padding-left: 10px;
}

.filters__grain-items {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-left: 10px;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1019607843);
}

.filters__grain-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.filters__grain-item input,
.filters__grain-item label {
  cursor: pointer;
}

.filters__grain-item label {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5019607843);
}

.filters__grain-item input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  height: 15px;
  width: 15px;
  flex-shrink: 0;
  border-radius: 3px;
  border: 1px solid #cccccc;
}

.filters__grain-item input[type=radio]::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  height: 9px;
  width: 9px;
  border-radius: 3px;
  background-color: #84c551;
  transform: scale(0);
  transition: transform 300ms;
}

.filters__grain-item input[type=radio]:checked {
  border-color: #84c551;
}

.filters__grain-item input[type=radio]:checked::before {
  transform: scale(1);
}

.filter__count {
  padding: 20px 20px 0px 20px;
}

.filter__count-title {
  font-size: 1rem;
  font-weight: 600;
  padding-bottom: 15px;
  padding-left: 10px;
}

.filter__count-items {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding-left: 10px;
  padding-bottom: 50px;
}

.filter__count-item {
  display: flex;
  align-items: center;
  gap: 15px;
}

.filter__count-item input,
.filter__count-item label {
  cursor: pointer;
}

.filter__count-item label {
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5019607843);
}

.filter__count-item input[type=radio] {
  flex-shrink: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  position: relative;
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 3px;
  border: 1px solid #cccccc;
}

.filter__count-item input[type=radio]::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  height: 9px;
  width: 9px;
  border-radius: 3px;
  background-color: #84c551;
  transform: scale(0);
  transition: transform 300ms;
}

.filter__count-item input[type=radio]:checked {
  border-color: #84c551;
}

.filter__count-item input[type=radio]:checked::before {
  transform: scale(1);
}

.filters__actions-wrap {
  position: sticky;
  width: 100%;
  min-height: 88px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 165;
  bottom: 50px;
  left: 0;
  background: linear-gradient(0deg, #ffffff 0%, rgba(255, 255, 255, 0) 335.23%);
}

.filters__action-apply-button {
  min-width: 214px;
  min-height: 47px;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 700;
  color: #fff;
  background-color: #e84e0f;
  border-radius: 90px;
}

.categories__container {
  padding-bottom: 20px;
}

/*______________PAGE ADDRESS STYLE______________*/

.page-address__container {
  white-space: nowrap;
  position: relative;
  padding-bottom: 18px;
}

.page-address__container::before {
  content: "";
  display: block;
  position: absolute;
  width: 6.125rem;
  height: 100%;
  background: linear-gradient(270deg, #f8f8f8 6.33%, rgba(248, 248, 248, 0) 100%);
  z-index: 2;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
}

.page-adress__dot {
  color: #84c551;
  margin: 0 10px;
}

.page-address__link {
  font-size: 1.125rem;
  color: rgba(0, 0, 0, 0.5019607843);
}

.page-address__link:last-child {
  font-weight: 700;
}

/*______________PRODUCTS STYLE______________*/

.products__container {
  padding-bottom: 25px;
}

.products__title {
  position: relative;
  font-weight: 700;
  line-height: 1.2;
  font-size: 2.8125rem;
  text-align: center;
  margin-bottom: 20px;
}

.products__title.icon-leaf::before {
  color: #84c551;
  margin-right: 8px;
  font-size: 1.5625rem;
}

.products__title span.icon-leaf {
  color: #84c551;
  font-size: 1.5625rem;
  display: inline-block;
  transform: scaleX(-1);
}

.products__title span:last-child {
  display: block;
}

.products__buttons-wrap {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-bottom: 15px;
  gap: 20px;
}

.products__filter-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45.5%;
  min-width: 135px;
  min-height: 40px;
  background-color: #84c551;
  border-radius: 20px;
  color: #fff;
  padding: 10px;
  font-size: 0.75rem;
  font-weight: 600;
}

.products__sort-button-wrap {
  position: relative;
  width: 45.5%;
}

.products__sort-button {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 135px;
  min-height: 40px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #484848;
  background-color: #f8f8f8;
  z-index: 4;
  padding: 10px 32px 10px 10px;
  font-size: 0.75rem;
  font-weight: 600;
  transition: all 400ms;
}

.products__sort-button span.icon-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 28px;
  width: 30px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.products__sort-button span.icon-arrow::before {
  display: inline-block;
  font-size: 0.625rem;
  transition: all 400ms;
  color: rgba(0, 0, 0, 0.2);
  transform-origin: center;
}

.products__sort-button--expanded {
  box-shadow: 0px 0px 8px 1px rgba(92, 92, 92, 0.4431372549);
  background-color: #84c551;
  color: #fff;
}

.products__sort-button--expanded span.icon-arrow::before {
  color: #fff;
  transform: rotate(-180deg) translateX(1px) translateY(1px);
}

.products__sort-items {
  position: absolute;
  top: 29px;
  left: 50%;
  width: 73%;
  margin: 0 auto;
  padding: 30px 10px 20px 10px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 15px;
  background-color: #f8f8f8;
  z-index: 3;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px 1px rgba(92, 92, 92, 0.4431372549);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  animation: sortExpand 800ms ease 0ms 1 normal forwards;
}

.products__sort-items--expanded {
  display: flex;
}

@keyframes sortExpand {
  0% {
    opacity: 0;
    transform: rotateX(-100deg) translateX(-50%);
    transform-origin: top;
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg) translateX(-50%);
    transform-origin: top;
  }
}

.products__categories-button-wrap {
  position: relative;
  width: 100%;
}

.products__categories-button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 40px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  color: #484848;
  width: 100%;
  padding: 10px 55px 10px 20px;
  font-size: 1rem;
  font-weight: 600;
  color: #84c551;
  background-color: #f8f8f8;
  z-index: 2;
}

.products__categories-button span.icon-arrow {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  height: 28px;
  width: 50px;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  border-left: 1px solid rgba(0, 0, 0, 0.2);
}

.products__categories-button span.icon-arrow::before {
  display: inline-block;
  font-size: 0.75rem;
  transition: all 400ms;
  color: rgba(0, 0, 0, 0.2);
  transform-origin: center;
}

.products__categories-button--expanded {
  box-shadow: 0px 0px 8px 1px rgba(92, 92, 92, 0.4431372549);
  background-color: #84c551;
  color: #fff;
}

.products__categories-button--expanded span.icon-arrow::before {
  color: #fff;
  transform: rotate(-180deg) translateX(1px) translateY(1px);
}

.products__categories-button-counter {
  font-size: 0.75rem;
  font-weight: 400;
  color: #e84e0f;
}

.products__categories-button-counter::before {
  content: "(";
}

.products__categories-button-counter::after {
  content: ")";
}

.products__categories-items {
  position: absolute;
  top: 29px;
  left: 50%;
  width: 73%;
  margin: 0 auto;
  padding: 30px 15px 20px 15px;
  display: none;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #f8f8f8;
  z-index: 1;
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 0px 0px 8px 1px rgba(92, 92, 92, 0.4431372549);
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  animation: categExpand 800ms ease 0ms 1 normal forwards;
}

.products__categories-items--expanded {
  display: flex;
}

@keyframes categExpand {
  0% {
    opacity: 0;
    transform: rotateX(-100deg) translateX(-50%);
    transform-origin: top;
  }

  10% {
    opacity: 0;
  }

  100% {
    opacity: 1;
    transform: rotateX(0deg) translateX(-50%);
    transform-origin: top;
  }
}

.products__categories-item {
  width: 100%;
  position: relative;
}

.products__categories-item:first-child {
  display: none;
}

.products__categories-item input {
  position: absolute;
  z-index: 2;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.products__categories-item input:checked ~ label {
  color: #84c551;
  font-weight: 700;
}

.products__categories-item label {
  transition: all 200ms;
  display: flex;
  justify-content: space-between;
  font-size: 1rem;
  color: rgba(0, 0, 0, 0.5019607843);
}

.products__categories-item-counter {
  font-size: 0.75rem;
  font-weight: 400;
  color: #e84e0f;
}

.products__categories-item-counter::before {
  content: "(";
}

.products__categories-item-counter::after {
  content: ")";
}

.products__counter {
  text-align: center;
  color: rgba(0, 0, 0, 0.5019607843);
  font-size: 1rem;
  width: 100%;
}

.product__goods-side-filter {
  position: relative;
}

.products__goods-items {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 22px;
  padding-bottom: 30px;
}

.products__goods {
  margin: 0 auto;
  width: 255px;
  min-height: 355px;
  background-color: #ffffff;
  border-radius: 20px;
  padding: 10px;
  position: relative;
  box-shadow: 0px 0px 5px 0px rgba(109, 109, 109, 0.1490196078);
}

.products__goods-image-wrap {
  width: 6.0625rem;
  height: 8.25rem;
  margin: 20px auto 30px auto;
}

.products__goods-image-link {
  height: 100%;
  width: 100%;
  display: block;
}

.products__goods-image-link img,
.products__goods-image-link picture {
  -o-object-fit: contain;
     object-fit: contain;
  height: 100%;
}

.products__goods-scales-button {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
  width: 35px;
  border-radius: 50%;
  top: 10px;
  right: 10px;
}

.products__goods-scales-button.icon-scales::before {
  font-size: 1rem;
  color: #8d3200;
}

.products__goods-description-wrap {
  border-radius: 20px;
  padding: 20px;
  background-color: #f8f3f1;
  position: relative;
  min-height: 9.375rem;
  display: flex;
  flex-direction: column;
  line-height: 1.3;
}

.products__goods-label {
  font-weight: 600;
  font-size: 1rem;
}

.products__goods-label .products__goods-link {
  color: #000;
}

.products__goods-availability {
  color: #1e6140;
  font-size: 0.875rem;
  margin-bottom: 17px;
}

.products__goods-lower-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.products__goods-price {
  font-size: 1.125rem;
  font-weight: 700;
  color: #84c551;
}

.products__goods-quantity {
  font-size: 0.875rem;
}

.products__goods-add-to-cart-button {
  box-shadow: 0px 0px 8px 1px rgba(0, 0, 0, 0.1490196078);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 47px;
  width: 47px;
  border-radius: 50%;
  background-color: #8d3200;
  flex-shrink: 0;
  transition: all 200ms;
}

.products__goods-add-to-cart-button.icon-cart {
  color: #fff;
  font-size: 1rem;
}

.product__goods-page-selector {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
}

.product__goods-page-selector > [class*=-button] {
  height: 30px;
  width: 30px;
  border: 1px solid #e84e0f;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #e84e0f;
  font-size: 0.875rem;
}

.product__goods-page-selector-prev-button {
  transition: all 200ms;
}

.product__goods-page-selector-prev-button.icon-arrow::before {
  transform: rotate(90deg);
  font-size: 0.75rem;
  margin-right: 2px;
}

.product__goods-page-selector-prev-button:active {
  background-color: #e84e0f;
  color: #fff;
}

.product__goods-page-selector-next-button {
  transition: all 200ms;
}

.product__goods-page-selector-next-button.icon-arrow::before {
  transform: rotate(-90deg);
  font-size: 0.75rem;
  margin-left: 2px;
}

.product__goods-page-selector-next-button:active {
  background-color: #e84e0f;
  color: #fff;
}

.product__goods-page-selector-index-wrap {
  display: flex;
  justify-content: center;
  flex-direction: row;
  gap: 10px;
}

.product__goods-page-selector-index {
  position: relative;
  height: 30px;
  min-width: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product__goods-page-selector-index > label {
  position: relative;
  font-size: 0.875rem;
  color: #e84e0f;
  z-index: 1;
  transition: all 300ms;
  cursor: pointer;
}

.product__goods-page-selector-index > input[type=radio] {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #e84e0f;
  border-radius: 50%;
  transition: all 300ms;
}

.product__goods-page-selector-index > input[type=radio]:checked {
  background-color: #e84e0f;
  box-shadow: 0px 5px 14px 0px rgba(140, 50, 19, 0.3019607843);
}

.product__goods-page-selector-index > input[type=radio]:checked ~ label {
  color: #ffffff;
}

.product__goods-page-selector-expand-index-button {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid #e84e0f;
  border-radius: 50%;
  transition: all 300ms;
  color: #e84e0f;
}

.product__goods-page-selector-expand-index-button--expanded {
  background-color: #e84e0f;
  color: #fff;
}

.product__goods-page-selector-expand-index-input-form {
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -1;
  transition: all 300ms;
  opacity: 0;
  pointer-events: none;
}

.product__goods-page-selector-expand-index-input-form input::-webkit-outer-spin-button,
.product__goods-page-selector-expand-index-input-form input::-webkit-inner-spin-button {
  display: none;
}

.product__goods-page-selector-expand-index-input-form > input {
  width: 45px;
  height: 30px;
  background-color: #f8f8f8;
  padding: 5px;
  border: 1px solid #e84e0f;
  border-radius: 20px;
  color: #e84e0f;
  text-align: center;
  transition: all 300ms;
}

.product__goods-page-selector-expand-index-input-form > input::-moz-placeholder {
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  color: rgba(63, 63, 63, 0.6509803922);
  -moz-transition: all 300ms;
  transition: all 300ms;
}

.product__goods-page-selector-expand-index-input-form > input::placeholder {
  text-align: center;
  font-size: 13px;
  font-weight: 700;
  color: rgba(63, 63, 63, 0.6509803922);
  transition: all 300ms;
}

.product__goods-page-selector-expand-index-input-form > input::-webkit-outer-spin-button,
.product__goods-page-selector-expand-index-input-form > input::-webkit-inner-spin-button {
  display: none;
}

.product__goods-page-selector-expand-index-input-form > input:focus::-moz-placeholder {
  opacity: 0;
}

.product__goods-page-selector-expand-index-input-form > input:focus::placeholder {
  opacity: 0;
}

.product__goods-page-selector-expand-index-input-form--expanded {
  z-index: 2;
  opacity: 1;
  pointer-events: auto;
}

/*______________ABOUT STYLE______________*/

.about {
  position: relative;
  overflow: clip;
}

.about__gradient-orange-1 {
  position: absolute;
}

.about__gradient-orange-2 {
  position: absolute;
}

.about__gradient-green-1 {
  position: absolute;
}

.about__gradient-green-2 {
  position: absolute;
}

.about__background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.about__background img,
.about__background picture {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.about__background::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), linear-gradient(80.25deg, rgba(132, 190, 81, 0.4) 1.38%, rgba(132, 190, 81, 0) 62.36%), linear-gradient(262.1deg, rgba(232, 78, 15, 0.3) 3.67%, rgba(232, 78, 15, 0) 87.59%);
}

.about__container {
  padding-top: 35px;
  padding-bottom: 35px;
}

.about__title {
  font-weight: 700;
  font-size: 2.8125rem;
  color: #fff;
  margin-bottom: 15px;
}

.about__title.icon-leaf::before {
  color: #84c551;
  margin-right: 8px;
  font-size: 1.5625rem;
}

.about__title p {
  margin-left: 22px;
}

.about__text {
  font-size: 1rem;
  color: #fff;
  line-height: 1.2;
}

.about__text p:not(:last-child) {
  margin-bottom: 18px;
}

@media (min-width: 400px) {
  .about__title p {
    display: inline;
    margin: 0;
  }
}

@media (min-width: 451px) {
  .products__title {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .products__title.icon-leaf::before {
    margin-top: 8px;
    margin-right: 18px;
  }

  .products__title span.icon-leaf {
    order: 2;
    margin-left: 18px;
    margin-top: 8px;
  }

  .products__title span:last-child {
    display: inline;
    order: 1;
  }

  .products__title span:last-child::before {
    content: " ";
  }

  .page-address__container {
    display: flex;
    justify-content: center;
  }

  .page-address__container::before {
    display: none;
  }

  .products__buttons-wrap {
    justify-content: center;
  }

  .products__filter-button {
    max-width: 260px;
  }

  .products__sort-button-wrap {
    max-width: 260px;
  }

  .products__categories-button-wrap {
    max-width: 470px;
  }

  .filters__body {
    max-width: 370px;
  }
}

@media (min-width: 675px) {
  .main__gradient-orange-1 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(231, 78, 19, 0.1) 0%, rgba(231, 78, 19, 0) 100%);
    width: 713px;
    height: 713px;
    top: -250px;
    left: auto;
    right: -350px;
  }

  .main__gradient-orange-2 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(231, 78, 19, 0.1) 0%, rgba(231, 78, 19, 0) 100%);
    width: 713px;
    height: 713px;
    top: 150px;
    right: auto;
    left: -350px;
  }

  .main__gradient-orange-3 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(231, 78, 19, 0.1) 0%, rgba(231, 78, 19, 0) 100%);
    width: 713px;
    height: 713px;
    bottom: -80px;
    left: -350px;
  }

  .main__gradient-green-1 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(132, 190, 81, 0.3) 0%, rgba(210, 230, 189, 0) 100%);
    width: 1068px;
    height: 1068px;
    right: auto;
    left: -700px;
    top: 450px;
  }

  .main__gradient-green-2 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(132, 190, 81, 0.3) 0%, rgba(210, 230, 189, 0) 100%);
    width: 1068px;
    height: 1068px;
    top: 520px;
    right: -550px;
  }

  .main__gradient-green-3 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(132, 190, 81, 0.3) 0%, rgba(210, 230, 189, 0) 100%);
    width: 1068px;
    height: 1068px;
    bottom: -890px;
    right: -500px;
  }

  .about__gradient-orange-1 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(231, 78, 19, 0.2) 0%, rgba(231, 78, 19, 0) 100%);
    width: 713px;
    height: 713px;
    top: -220px;
    left: -270px;
  }

  .about__gradient-orange-2 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(231, 78, 19, 0.2) 0%, rgba(231, 78, 19, 0) 100%);
    width: 713px;
    height: 713px;
    top: -220px;
    right: -270px;
  }

  .about__gradient-green-1 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(132, 190, 81, 0.4) 0%, rgba(210, 230, 189, 0) 100%);
    width: 1068px;
    height: 1068px;
    top: 230px;
    left: -660px;
  }

  .about__gradient-green-2 {
    background: radial-gradient(50% 50% at 50% 50%, rgba(132, 190, 81, 0.4) 0%, rgba(210, 230, 189, 0) 100%);
    width: 1068px;
    height: 1068px;
    top: 130px;
    right: -610px;
  }
}

@media (min-width: 1023px) {
  .categories__container {
    padding-bottom: 45px;
  }

  .products__container {
    padding-bottom: 120px;
  }

  .products__categories-item:first-child {
    display: block;
  }

  .products__filter-button {
    display: none;
  }

  .products__categories-button-wrap {
    display: none;
  }

  .products__buttons-wrap {
    justify-content: space-between;
    gap: 100px;
    align-items: center;
  }

  .products__goods {
    width: 240px;
  }

  .products__goods-items {
    justify-content: end;
    gap: 15px;
  }

  .filters__back-button {
    display: none;
  }

  .filters__actions-wrap {
    display: none;
  }

  .products__sort-button-wrap {
    order: 2;
  }

  .products__counter {
    width: auto;
    order: 1;
  }

  .product__goods-wrap {
    display: flex;
    flex-direction: row;
  }

  .product__goods-side-categories {
    width: 100%;
    padding: 25px 30px;
    background: #FFFFFF;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1490196078);
    border-radius: 20px;
  }

  .product__goods-side-categories .products__categories-items {
    position: static;
    display: flex;
    animation: none;
    border-radius: 0px;
    box-shadow: none;
    border: none;
    padding: 0;
    background: transparent;
    justify-content: space-between;
    width: 100%;
  }

  .product__goods-side-categories .products__categories-items .products__categories-item-button--selected {
    color: #84c551;
    font-weight: 700;
  }

  .product__goods-side-filter {
    width: 225px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    flex-shrink: 0;
  }

  .filters {
    all: unset;
  }

  .filters__body {
    position: static;
    top: auto;
    left: auto;
    width: auto;
    height: auto;
    z-index: auto;
    transition: none;
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.1490196078);
    border-radius: 20px;
    overflow: hidden;
  }

  .filters__main {
    height: auto;
    overflow: auto;
  }

  .filters__header {
    justify-content: center;
    border-top-left-radius: 20px;
  }

  .filter__count-items {
    padding-bottom: 30px;
  }

  .about__container {
    padding-top: 105px;
    padding-bottom: 105px;
  }

  .about__title.icon-leaf::before {
    margin-right: 16px;
  }
}

@media (min-width: 1060px) {
  .product__goods-side-filter {
    width: 255px;
  }
}

@media (min-width: 1140px) {
  .products__goods-items {
    gap: 30px;
  }

  .products__goods {
    width: 255px;
  }
}

@media (max-width: 1140px) {
  .products__title {
    font-size: calc(1.375rem + 1.4375 * ((100vw - 20rem) / 51.25));
  }

  .products__title.icon-leaf::before {
    font-size: calc(0.6875rem + 0.875 * ((100vw - 20rem) / 51.25));
  }

  .products__title span.icon-leaf {
    font-size: calc(0.6875rem + 0.875 * ((100vw - 20rem) / 51.25));
  }

  .about__title {
    font-size: calc(1.375rem + 1.4375 * ((100vw - 20rem) / 51.25));
  }

  .about__title.icon-leaf::before {
    font-size: calc(0.6875rem + 0.875 * ((100vw - 20rem) / 51.25));
  }
}

@media (hover: hover) {
  .page-address__link:hover {
    text-decoration: underline;
  }

  .page-address__link:last-child:hover {
    text-decoration: none;
    cursor: default;
  }

  .products__goods {
    transition: box-shadow 300ms;
  }

  .products__goods:hover {
    box-shadow: 0px 0px 23px 0px rgba(0, 0, 0, 0.2117647059);
  }

  .products__goods-add-to-cart-button {
    background-color: #fff;
  }

  .products__goods-add-to-cart-button.icon-cart::before {
    color: #8d3200;
  }

  .products__goods-add-to-cart-button:hover {
    background-color: #8d3200;
  }

  .products__goods-add-to-cart-button:hover.icon-cart::before {
    color: #fff;
  }

  .products__goods-add-to-cart-button:active {
    background-color: #e84e0f;
  }
}

@media (pointer: coarse) {
  .products__goods-add-to-cart-button:active {
    background-color: #e84e0f;
  }
}